<div class="col-md-3">
    <div class="card product-card">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
            <p class="card-text">
                <strong>t{{price}}:</strong> ${{price}}<br>
                <strong>t{{color}}:</strong> {{color}}<br>
            </p>
            <button class="btn btn-primary buy-now-btn" data-product='{{product}}'>t{{buy_now}}</button>
        </div>
    </div>
</div>