VITE_SUPABASE_URL=https://lxriiqesjaxbllxqljee.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4cmlpcWVzamF4YmxseHFsamVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NTY1MTAsImV4cCI6MjA4OTIzMjUxMH0.A1rAVRxHO4sUZz96POmYd3u8c2imcjihDQwbFwhNtVw
